
<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 55px;">
  <nav class="main-nav js-stick dark stick-fixed" style="position: fixed; top: 0px;">
    <div class="full-wrapper relative clearfix" style="padding-top: 0px;">
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="nav-logo-wrap local-scroll">
        <a class="navbar-brand" href=" "> <strong>Logo</strong> </a>
      </div>
      <div class="mobile-nav" style="height: 55px; line-height: 55px; width: 55px;">
        <i class="fa fa-bars"></i>
      </div>
      <!-- Main Menu -->
      <div class="inner-nav desktop-nav">
        <ul class="clearlist scroll-nav local-scroll">
          <li>
            <a href=" " style="height: 55px; line-height: 55px;" class="active">Trang Chủ</a>
          </li>
          <li>
            <a href="#tintuc" style="height: 55px; line-height: 55px;" class="">Tin Tức</a>
          </li>
          <li>
            <a href="#pricing" style="height: 55px; line-height: 55px;" class="">Chi Phí</a>
          </li>
          <li>
            <a href="#contact" style="height: 55px; line-height: 55px;">Liên Hệ</a>
          </li>
          <li class="hidden-xs hidden-sm hidden-md">
            <a style="height: 55px; line-height: 55px;">|</a>
          </li>
          <li>
            <a href="" ng-click='modalLogin()' style="height: 55px; line-height: 55px;">Đăng Nhập</a>
          </li>
          <li>
            <a href="" ng-click='modalRegister()' style="height: 55px; line-height: 55px;">Đăng Ký</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>