
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <iframe id="hidden_iframe" name="hidden_iframe"  style="display: none;"></iframe>

                <div class="contact-page">
                        <div class="content-middle" style="border-radius: 3px">
                                <form action="https://docs.google.com/forms/d/e/1FAIpQLSdToePkbMGQ2_NuZXCOCQCRQ8BzAwXgagh_AkhtRvTI_ePVLg/formResponse" target="hidden_iframe"
                                method="POST" id="mG61Hd">
                                <center> <h4>Vui lòng nhập Email đã đăng kí tài khoản</h4></center>
                               
                                <input type="text" class="quantumWizTextinputPaperinputInput exportInput " name="entry.1182077370" placeholder="Nhập Email Đăng Ký ở đây" ng-model="form.email" />
                                <textarea class="quantumWizTextinputPapertextareaInput exportTextarea hide" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="Question"
                                   jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required name="entry.992541432" dir="auto"
                                   data-initial-dir="auto" data-initial-value="" aria-describedby="i.desc.295576535 i.err.295576535" ng-model="form.question"></textarea>
                                   <div id="emailAlert" >
                                        <strong>{{success}}</strong> {{thongBao}}
                                    </div>
                                   <div class="clearfix">
                                        <button type="button" class="cancelbtn" ng-click="submit(form)">Kiểm Tra</button>
                                        <button type="submit" ng-click="send(form)" name="submit"  id="ss-submit"  class="signupbtn">Gửi</button>
                                </div>
                                <input type="text" class="quantumWizTextinputPaperinputInput exportInput hide" name="entry.385427871" required ng-model="form.name" />
                                <input type="text" class="quantumWizTextinputPaperinputInput exportInput hide" name="entry.2014033813" ng-model="form.newpass" />
                                </form>
                        </div>
                </div>
                
</div>


       

