<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pay-page" style="max-width: 800px;">
                <div class="card">
                        <div class="card-header card-header-primary">
                                <h4 class="card-title">Thanh Toán </h4>
                                <p class="card-category">Bạn vui lòng điền đầy đủ thông tin vào các mục dưới</p>
                        </div>
                        <div class="card-body">
                                <form name="frmThanhToan" id='frmThanhToan' action="test/check.php" method="post" target="_blank" onsubmit>
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">Email address</label>
                                                        <input type="email" name="txt_email" size="28" required="required" placeholder="địa chỉ email" ng-model='user.email' />
                                                </div>
                                        </div>
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group bmd-form-group">
                                                                <label class="bmd-label-floating">Tên Đăng Nhập</label>
                                                                <input type="text" name="txh_name" size="28" placeholder="Họ tên" ng-model='user.name' />
                                                        </div>
                                                </div>
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">Họ Tên</label>
                                                        <input type="text" name="txh_name" size="28" placeholder="Họ tên"  />
                                                </div>
                                        </div>
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">Số ĐT</label>
                                                        <input type="text" name="txt_phone" size="28" required="required" placeholder="Số điện thoại" ng-model='user.phone' />
                                                </div>
                                        </div>
                                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group bmd-form-group">
                                                                <label class="bmd-label-floating">Chọn quyền lợi</label>
                                                                <select id="piority" class="form-control" id="sel2" ng-model="user.vip" required="required">
                                                                                <option  value="vip1">VIP1</option>
                                                                                <option  value="vip2">VIP2</option>
                                                                </select>
                                                        </div>
                                                </div>
                                                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group bmd-form-group">
                                                                                <label class="bmd-label-floating">Số Tiền Thanh Toán</label> {{price}}đ
                                                                        <input name="txt_gia" class='hide' id='txt_gia' type="text" size="28" ng-model="price" />
                                                                </div>
                                                        </div>
                                                        <div id="emailAlertSuccess" class="alert alert-success hide" >
                                                                Xác Thực Thành Công, mời bạn nhấn Thanh Toán 1 lần nữa
                                                           </div>
                                                           <div id="emailAlertError" class="alert alert-danger hide" >
                                                                Xác Thực Thất Bại,Email hoặc Tên Đăng Nhập chưa được đăng ký
                                                           </div>
                                        <center>
                                                <input ng-click='check(user)' class="btn btn-mod btn-glass btn-circle btn-medium" type="submit"
                                                        name="submit" value="Thanh Toán">
                                        </center>

                                </form>
                        </div>
                </div>


        </div>

</div>