<div id="home">
</div>



<my-slider></my-slider>

<div id="tintuc" class="container-fluid text-center bg-grey">
    <h2>Tin Tức</h2>
    <div class="section-line"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 thumbnail">
        <div class="row text-center">
            <list-tintuc page-object="pages"></list-tintuc>
        </div>
    </div>
</div>
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Chi Phí Khóa Học</h2>
        <h4>Hãy chọn các Cấp Độ phù hợp với bạn</h4>
        <div class="section-line"></div>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <center>
            <div class="slideanim col-sm-3 col-xs-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Cấp Độ 1</h1>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>20</strong> Lorem</p>
                        <p>
                            <strong>15</strong> Ipsum</p>
                        <p>
                            <strong>5</strong> Dolor</p>
                        <p>
                            <strong>2</strong> Sit</p>
                        <p>
                            <strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <h3>$19</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg" ng-click="modalRegister()">Đăng Ký</button>
                    </div>
                </div>
            </div>
            <div class="slideanim col-sm-3 col-xs-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Cấp Độ 2</h1>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>50</strong> Lorem</p>
                        <p>
                            <strong>25</strong> Ipsum</p>
                        <p>
                            <strong>10</strong> Dolor</p>
                        <p>
                            <strong>5</strong> Sit</p>
                        <p>
                            <strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <h3>$29</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg" ng-click="modalRegister()">Đăng Ký</button>
                    </div>
                </div>
            </div>
            <div class="slideanim col-sm-3 col-xs-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Cấp Độ 3</h1>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>100</strong> Lorem</p>
                        <p>
                            <strong>50</strong> Ipsum</p>
                        <p>
                            <strong>25</strong> Dolor</p>
                        <p>
                            <strong>10</strong> Sit</p>
                        <p>
                            <strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <h3>$49</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg" disabled>Đăng Ký</button>
                    </div>
                </div>
            </div>
            <div class="slideanim col-sm-3 col-xs-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Cấp Độ 4</h1>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>100</strong> Lorem</p>
                        <p>
                            <strong>50</strong> Ipsum</p>
                        <p>
                            <strong>25</strong> Dolor</p>
                        <p>
                            <strong>10</strong> Sit</p>
                        <p>
                            <strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer">
                        <h3>$49</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg" disabled>Đăng Ký</button>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>

<!-- <div id="test"></div> -->